.logo {
  animation: 1.75s ease-in-out 0s 1 normal none running puff-in-bottom;
}

@keyframes puff-in-bottom {
  0% {
    transform: scale(2);
    transform-origin: 50% 100%;
    filter: blur(4px);
    opacity: 0;
  }

  to {
    transform: scale(1);
    transform-origin: 50% 100%;
    filter: blur(0);
    opacity: 1;
  }
}

.hero,
.exp {
  animation: 2s ease-in-out 0s 1 normal none running roll-in-right;
}

@keyframes roll-in-right {
  0% {
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }

  to {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

.phone {
  animation: 4s ease-in-out 0s 1 normal none running tracking-in-expand,
    4.25s ease-in-out 0s infinite normal none running pulsate-fwd;
}

@keyframes pulsate-fwd {
  0%,
  to {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  to {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.my-services {
  animation: 2.5s ease-in-out 0s 1 normal none running slide-in-left;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.repair {
  animation: 3.5s ease-in-out 0s 1 normal none running slide-in-right;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Contact in the Tower Animation */

/* #tower-txt {
  animation: 7.25s ease-in-out 0s infinite normal none running blink-1;
}

@keyframes blink-1 {
  0%,
  50%,
  to {
    opacity: 1;
  }
  
  25%,
  75% {
    opacity: 0;
  }
} */

/* Contact in the Tower Animation */
.l-roof-svg-txt,
.r-roof-svg-txt,
.tl-box-svg-txt,
.tr-box-svg-txt,
.bl-box-svg-txt,
.br-box-svg-txt,
.l-floor-svg-txt,
.r-floor-svg-txt {
  animation: 4.25s ease-in-out 0s infinite normal none running color-change-2x;
}
@keyframes color-change-2x {
  0% {
    fill: #f1eee2;
    stroke: #f1eee2;
  }
  25% {
    fill: #dfd8bd;
    stroke: #dfd8bd;
  }
  50% {
    fill: #c7bd96;
    stroke: #c7bd96;
  }
  75% {
    fill: #b1a470;
    stroke: #b1a470;
  }

  to {
    fill: #ad9a5a;
    stroke: #ad9a5a;
  }
}

.l-floor-svg-txt,
.r-floor-svg-txt {
  animation: 4.25s ease-in-out 0s infinite normal none running
    color-change-fl-5x;
}
@keyframes color-change-fl-5x {
  0% {
    fill: #000000;
    stroke: #000000;
  }
  25% {
    fill: #272727;
    stroke: #272727;
  }
  50% {
    fill: #4e4e4e;
    stroke: #4e4e4e;
  }
  75% {
    fill: #424242;
    stroke: #424242;
  }

  to {
    fill: #353535;
    stroke: #353535;
  }
}

.gallery {
  animation: 3.5s ease 0s 1 normal none running puff-in-center;
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }

  to {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

#image-slider {
  display: grid;
  grid-column: 2 / 3;
  background: url(./image/png/pexels-anete-lusina-4792489.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 100%;
  height: 35vh;
  animation: slide-in_right 20s ease-in-out infinite;
}
@keyframes slide-in_right {
  25% {
    background: url(./image/png/pexels-curtis-adams-3990590.jpg);
    background-size: cover;
    object-fit: contain;
    width: 100%;
  }
  35% {
    background: url(./image/png/pexels-curtis-adams-4119841.jpg);
    background-size: cover;
    object-fit: contain;
    width: 100%;
  }
  45% {
    background: url(./image/png/pexels-curtis-adams-4682124.jpg);
    background-size: cover;
    object-fit: contain;
    width: 100%;
  }
  55% {
    background: url(./image/png/hakim-556177.jpg);
    background-size: cover;
    object-fit: contain;
    width: 100%;
  }
  65% {
    background: url(./image/png/max-6588569.jpg);
    background-size: cover;
    object-fit: contain;
    width: 100%;
  }
  75% {
    background: url(./image/png/max-6588571.jpg);
    background-size: cover;
    object-fit: contain;
    width: 100%;
  }
  85% {
    background: url(./image/png/dmitry-062426.jpg);
    background-size: cover;
    object-fit: contain;
    width: 100%;
  }

  100% {
    background: url(./image/png/max-6758784.jpg);
    background-size: cover;
    object-fit: contain;
    width: 100%;
  }
}
