/* Reset  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************************** Utility Components  *************************************************/
:root {
  /* font-size: 62.5%; */
  font-size: 10px;

  /***************** Custom Properties *****************/

  /* Colors */
  --color-primary: #730039;
  --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
  --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

  --color-secondary: #ffc513;
  --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
  --color-secondary-m-dark: rgba(255, 196, 19, 0.85);

  --color-tertiary: #ff724c;
  --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
  --color-tertiary-m-dark: rgba(255, 115, 76, 0.85);

  --color-quaternary: #f6eedf;
  --color-quaternary-m-light: hsla(39, 56%, 92%, 0.55);
  --color-quaternary-m-dark: hsla(39, 56%, 92%, 0.85);

  /* Transition Duration */
  --transition-duration: 0.3s;

  /* Section Title Font Size */
  --font-size-title: calc(2rem + 2vw);

  /* Section Padding */
  --padding-section: 8vh 3vw;

  /* ************************Animation***************** */
  /* LOGO ANIMATION */
  /* animation: 6.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0s 1 normal none running fade-in-top; */

  /* REPAIR OR REPLACE *
  animation: 3s ease 0s 1 normal none running slide-in-right;*/

  /* MY SERVICES
  animation: 3s ease-in-out 0s 1 normal none running slide-in-left; */

  /* SPECIALIZING
  animation: 2s ease-in-out 0s 1 normal none running roll-in-right; */

  /* PHONE PULSATING
animation: 4s ease-in-out 0s 1 normal none running tracking-in-expand, 4.25s ease-in-out 0s infinite normal none running pulsate-fwd; */
}

body {
  /* font-family: "Alex Brush", cursive; */
  /* font-family: "Fira Sans", sans-serif; */
  font-family: "Merienda One", cursive;
  /* font-family: "Oswald", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Roboto Serif", sans-serif; */
  /* font-family: "Zen Kaku Gothic Antique", sans-serif; */
  /* line-height: 1.7; */
  /* background-color: var(--color-quaternary); */
}

#container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11.2rem) [col-end]
    )
    [center-end] 1fr [container-end];
  grid-template-rows: 65vh repeat(7, min-content);
  position: relative;
  /* z-index: -5000; */
}

#header,
#service-title,
#house,
#gallery,
#footer,
#modal-overlay {
  position: relative;
}

/*1100 is viewport width; total column excluding the two outside one is 12-2=10
  so outside size is 1fr each and middle 10 column are 110px each
  then formula will be   110px/10columns = 11 rem size for each column*/
/* 1fr repeat(10, 11rem) 1fr */
/* But the above code is not very flexible so we use minmax() to improve responsiveness  */

/* *-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-MAIN SECTION*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
header#header {
  background-image: linear-gradient(
    rgb(227, 216, 168) 1%,
    rgb(241, 238, 226) 32%,
    rgb(241, 238, 226) 67%,
    rgba(227, 216, 168, 0.5) 100%
  );
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: 0.25fr repeat(8, 0.5fr) 0.25fr;
  grid-template-rows: 0.25fr repeat(3, 1fr) 0.5fr;
  grid-row: 1/2;
  z-index: -1;
  position: relative;
}

div.logo {
  display: grid;
  grid-column: 2/7;
  grid-row: 2/5;
}

.j-logo {
  display: grid;
  place-items: center;
}

div.hero {
  display: grid;
  grid-column: 6/10;
  grid-row: 2/3;
}

.hero #list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 5.5rem;
  list-style: none;
  color: cornsilk;
}

#list .level-1 {
  color: #e10006;
  font-size: calc(6rem + 0.5rem);
}
#list .level-2,
#list .level-3 {
  color: #535353;
  font-size: calc(2rem + 0.8vw);
}

div.exp {
  display: grid;
  place-items: center;
  grid-column: 7/10;
  grid-row: 3/5;
}

.j-30yrs {
  display: grid;
  place-items: center;
  width: calc(15vw - 1.8vw);
}

a.phone {
  display: grid;
  grid-column: 2/10;
  grid-row: 5/6;
  font-size: var(--font-size-title);
  place-items: center;
  padding: 0.25% 3%;
  color: #e10006;
  text-decoration: none;
  cursor: pointer;
}

/**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-SECTION MY SERVICE TITLE*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
#service-repair {
  display: grid;
  grid-column: container-start / container-end;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 1fr 0.5fr 1fr; */
  grid-template-rows: repeat(2, 0.5fr);
  grid-row: 2/3;
  background-color: #e43333;
  height: calc(5vh + 1.5vh);
  padding: 1rem 0rem;
  z-index: 2;
}
#service-repair h2 {
  text-align: center;
  font-size: calc(2.05rem + 1.5vw);
  font-family: "Fira Sans", sans-serif;
  padding: 5px 0px;
}

/**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

/**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-HOUSE SVG*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

section#house {
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.2vw;
  background-image: linear-gradient(
    rgb(62, 62, 62) 10%,
    rgb(112, 112, 112) 32%,
    rgb(137, 137, 137) 52%,
    rgb(112, 112, 112) 73%,
    rgb(62, 62, 62) 96%
  );
  position: relative;
  z-index: 3;
}

#house {
  position: relative;
  z-index: 3;
}

#house .tower {
  padding-left: 5rem;
  fill: #333;
  stroke: #f1eee2;
  z-index: 3;
  position: relative;
}

#tower-shadow {
  filter: drop-shadow(3px 5px 2px rgba(129, 124, 80, 0.4));
}

#tower-shadow #tower-txt {
  filter: drop-shadow(3px 2px 2px rgba(243, 240, 210, 0.2));
  font-size: calc(2.25rem + 0.5vw);
  fill: #f1eee2;
  stroke: #f1eee2;
}
.tl-box,
.tr-box,
.bl-box,
.br-box {
  padding-left: 5%;
  padding-right: 5%;
  stroke: #f1eee2;
  transition: 0.35s ease-in transform;
  z-index: -3;
  position: relative;
}

.l-floor {
  filter: drop-shadow(dx= "0" dy= "0" stdDeviation= "0.5" flood-color= "cyan");
  padding-left: 5%;
  fill: #a78104;
  stroke: #f1eee2;
  position: relative;
  z-index: 3;
}

.r-floor {
  padding-right: 5%;
  fill: #a78104;
  stroke: #f1eee2;
  position: relative;
  z-index: 3;
}

.l-roof,
.r-roof {
  fill: #e42c2c;
  stroke: #f1eee2;
  stroke-width: 1.5px;
  position: relative;
  z-index: 3;
}

.l-roof-svg-txt,
.r-roof-svg-txt,
.tl-box-svg-txt,
.tr-box-svg-txt,
.bl-box-svg-txt,
.br-box-svg-txt,
.l-floor-svg-txt,
.r-floor-svg-txt {
  font-family: "Fira Sans", sans-serif;
  font-size: calc(2.75rem + 0.5vw);
  font-weight: 900;
  fill: #f1eee2;
  position: relative;
  z-index: 3;
}
:where(.tl-box, .tr-box, .bl-box, .br-box):hover,
:where(.tl-box, .tr-box, .bl-box, .br-box):active {
  fill: #4b4747;
}
:where(.l-floor, .r-floor):hover,
:where(.l-floor, .r-floor):active {
  fill: #ad8e27;
}
:where(.l-roof, .r-roof):hover,
:where(.l-roof, .r-roof):active {
  fill: #e83a3a;
}
/**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-SECTION MY SERVICE TITLE*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
#service-gallery {
  display: grid;
  grid-column: container-start / container-end;
  grid-row: 5/6;
  background-color: #e43333;
  height: calc(5vh + 1.5vh);
  z-index: 2;
}
#service-gallery h2 {
  text-align: center;
  font-size: calc(2.05rem + 1.5vw);
  font-family: "Fira Sans", sans-serif;
}

/**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-IMAGE GALLERY*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

section#gallery {
  background-image: linear-gradient(
    rgb(227, 216, 168) 1%,
    rgb(241, 238, 226) 32%,
    rgb(241, 238, 226) 67%,
    rgba(227, 216, 168, 0.5) 100%
  );
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-row: 6/7;
  align-self: center;
  z-index: 4;
}

/**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-FOOTER*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

footer#footer {
  display: grid;
  grid-column: container-start / container-end;
  grid-template-columns: 1fr;
  grid-row: 7/8;
  background-color: #e83a3a;
  padding: 2vh 0;
  place-items: center;
  color: var(--color-quaternary);
  font-size: calc(1rem + 0.5vw);
  z-index: 5;
}
#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px #e10006;
  display: none;
  width: 50vw;
  height: 45vh;
  border-radius: 1.2em;
  background-color: #dadac1;
  padding: 4% 6%;
  color: #242423;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 100;
}

#modal h1 {
  margin-bottom: 1em;
  position: relative;
}
#cls-btn {
  position: absolute;
  right: 1em;
  bottom: 0.75em;
  padding: 0.5em;
  border-radius: 1em;
  background-color: rgb(206, 199, 97);
  z-index: 1002;
}

#modal-overlay.open {
  display: block;
  z-index: 6000;
}
#modal.open {
  display: block;
  z-index: 6000;
}
